#empty{
    height: 55px;
}
#nonempty{
    border-right: 2px solid #CCCCCC;
    height: 650px;
}
#todo{
    height: 300px;
    width: 90%;
    background-color: white;
    border: 1px solid lightgray;
    box-shadow: 0px 2px 3px 1px rgba(204,204,204,1);
    margin: auto;
    border-radius: 5px;
}
#headingtodo{
    margin-left: 120px;
    margin-top: 15px;
    font-size: 20px;
}
#input{
    margin-left: 18px;
    margin-right: 10px;
}
input[type=text]{
    border-radius: 4px;
    border: 1px solid #ccc;
    padding: 4px 10px;
}
#addbutton{
    background-color: #2749F8;
    border-color: #2749F8;
    color: white;
    border-radius: 3px;
}
#todovalues{
    margin-top: 30px;
}
#val1{
    background-color: white;
    border: 1px solid #ccc;
    width: 90%;
    border-radius: 4px;
    margin: auto;
    padding: 8px;
    padding-left: 15px;
    margin-bottom: 10px;
}
#spa{
    float: right;
}
.icon{
    font-size: 20px;
    color: red;
    margin-right: 5px;
    cursor: pointer;
}
.icon1{
    font-size: 20px;
    color: green;
    margin-right: 5px;
}
#news{
    height: 300px;
    width: 90%;
    background-color: white;
    border: 1px solid lightgray;
    box-shadow: 0px 2px 3px 1px rgba(204,204,204,1);
    margin: auto;
    margin-top: 40px;
    border-radius: 5px;
}